/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/lisp/.DS_Store
/.DS_Store
/lisp/q.log
/.python-environments/default/.Python
/.python-environments/default/bin/activate
/.python-environments/default/bin/activate.csh
/.python-environments/default/bin/activate.fish
/.python-environments/default/bin/activate_this.py
/.python-environments/default/bin/easy_install
/.python-environments/default/bin/easy_install-2.7
/.python-environments/default/bin/jediepcserver
/.python-environments/default/bin/pip
/.python-environments/default/bin/pip2
/.python-environments/default/bin/pip2.7
/.python-environments/default/bin/python
